@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    font-family: 'Vazirmatn', sans-serif;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 25px 10px 8px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    direction: rtl;
}

.dropdown-btn {
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    direction: rtl;
    background-color: transparent;
    border: none;
    padding: 8px 25px 10px 8px;
    text-align: right;
    margin-left: auto;
    display: flex;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    left: 20px;
    font-size: 36px;
}

.dropdown-container {
    display: none;
    padding-left: 8px;
}

.dropdown-container a {
    direction: rtl;
}

.fa-caret-down {
    float: left;
    padding-right: 10px;
    padding-top: 5px;
}

.cur {
    color: white !important;
    margin-top: 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.topnav {
    position: absolute;
    width: 94%;
}

.topnav a {
    float: right;
    color: #e0e0e0;
    text-align: right;
    padding: 20px 3%;
    text-decoration: none;
    font-size: 17px;
}

.ot {
    padding: 0 3% !important;
}

.topnav a:hover {
    color: white;
}

.topnav a.active {
    color: white;
}

.menu {
    font-size: 30px;
    cursor: pointer;
    color: white;
    position: absolute;
    right: 10px;
    top: 20px;
    display: none;
}

nav {
	text-align: right;
}

nav ul ul {
	display: none;
}

nav ul li:hover > ul {
    display: block;
}

nav ul {
	list-style: none;
	position: relative;
	display: inline;
}

nav ul li {
    float: right;
}

nav ul li:hover a {
    color: #fff;
}

nav ul li a {
    display: block;
    color: #757575;
    text-decoration: none;
    width: 100%;
    margin-left: 10px;
    margin-top: 5px;
}
		
nav ul ul {
    background: #5f6975;
    padding: 0;
    position: absolute;
    margin-top: 40px;
    top: 100%;
}

nav ul ul li {
    float: none; 
    width: 150px;
    height: 60px;
    position: relative;
}

nav ul ul li a {
    color: #fff;
    width: 142px;
    height: 30px;
}

nav ul ul li a:hover {
    background: #4b545f;
}
		
nav ul ul ul {
    position: absolute;
    right: 100%;
    top: 0;
}
		
.hr {
    position: absolute;
    top: 60px;
    right: 6%;
    width: 88%;
    z-index: -1;
}

.logo {
    padding: 19px 0 !important;
}

@media only screen and (max-width: 500px) {
    .menu {
        display: block;
    }
    .logo {
        display: block !important;
        margin-left: 10px;
    }
    .topnav a {
        float: left;
        display: none;
    }
}


.image {
    display: block;
    margin: auto;
    margin-top: 80px;
    width: 450px;
    height: 450px;
}

.texts {
    margin-right: 40px;
}

.lable {
    font-size: 38px;
    direction: rtl;
    margin-top: 80px;
}

.sdesc {
    text-align: right;
    direction: rtl;
    font-size: 20px;
    line-height: 2;
}

.desc {
    font-size: 20px;
    direction: rtl;
    width: 80%;
    text-align: right;
    margin-left: 10%;
    line-height: 2;
    margin-top: 80px;
}

header {
    display: flex;
    width: 80%;
    margin: auto;
    padding-top: 60px;
}

@media only screen and (max-width: 1000px) {
    .image {
        width: 400px;
        height: 400px;
    }
    header {
        width: 90%;
    }
    .desc {
        width: 90%;
        margin-left: 5%;
    }
}

@media only screen and (max-width: 850px) {
    .image {
        width: 100%;
        height: auto !important;
    }
    header {
        width: 90%;
        flex-direction: column-reverse;
    }
    .texts {
        margin-right: 0;
    }
    .lable {
        margin-top: 40px;
    }
    .desc {
        margin-top: 50px;
    }
}
